@import '../../palettes';
@import '../../effects';
.L-canvas-wrapper {
  width: 100%;
  height: 100%;
  overflow: visible;
  padding: 0;
  position: relative;
}

.L-canvas {
  transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #{$theme-white};
  width: calc(100% - 8px);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: shadow(2);
}

.L-canvas-inverted {
  background-color: invert($theme-white);
}

.L-canvas-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
  animation: toolbar 4s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  &:hover {
    opacity: 1;
  }
  button {
    background: none;
    i {
      transition: color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
      color: grey;
    }
    border: none;
    box-shadow: none;
    &:hover {
      i {
        color: darken(grey, 20%);
      }
    }
  }
}

@keyframes toolbar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}