@import '../../palettes';
.input-field-wrapper {
    position: relative;
    flex-grow: 1;
    height: 24px;
    margin: auto 0;
    display: flex;
    box-sizing: border-box;
    input {
        flex-grow: 1;
        font-family: 'Roboto', sans-serif;
        margin: auto 0;
        background-color: transparent;
        border: none;
        color: #d0d0d0;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        border-top: 1px solid #fafafa;
        left: 0;
        right: 0;
        transition: border-top 0.1s;
    }
    &:focus-within::before {
        border-top: 2px solid #{$theme-red};
    }
}

.text-input {
    input[type=text] {
        padding: 4px;
    }
}

.number-input {
    input[type=number] {
        appearance: textfield;
    }
}

.range-input::before {
    content: none;
}

.checkbox-input {
    flex-grow: 0;
    padding: 4px;
    &::before {
        content: none;
    }
}
