@import '../../palettes';
@import '../../effects';
$footer-height: 40px;
#repo-link {
  margin: auto;
  margin-right: 0;
}

#github-link {
  margin-top: auto;
  a {
    color: $theme-secondary;
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
  margin: 0;
  li {
    display: flex;
    height: 48px;
  }
}

.sandbox-wrapper {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-rows: 100% 56px;
  grid-template-columns: repeat(3, minmax(auto, 33%));
  grid-column-gap: 24px;
  overflow: auto;
  .sandbox-panel {
    display: flex;
    padding: 24px 0;
    flex-direction: column;
  }
  .left {
    padding-left: 24px;
    grid-column-start: 1;
    max-width: 80vh;
    min-width: 440px;
  }
  .right {
    padding-right: 24px;
    grid-column-start: 2;
    grid-column-end: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .footer {
    flex-shrink: 0;
    height: $footer-height;
    @include border(top);
    padding: 8px;
    background-color: lighten($theme-background, 5%);
    grid-column-start: 1;
    grid-column-end: end;
    display: flex;
  }
}

@media (max-width: 1000px) {
  .sandbox-wrapper {
    grid-template-rows: auto auto #{$footer-height};
    grid-template-columns: 1fr;
    .right {
      grid-column-start: 1;
      padding-left: 24px;
    }
    .left {
      max-width: unset;
      padding-right: 24px;
      min-width: unset;
    }
  }
  .sandbox-panel {
    grid-column-end: end;
  }
  .footer {
    grid-column-start: 1;
    padding-left: 24px;
  }
}

#main-params {
  grid-column-start: 1;
  grid-column-end: end;
}

.text-field {
  input {
    text-transform: uppercase;
  }
}

#param-title {
  display: flex;
  button {
    margin: auto;
    margin-right: 8px;
  }
}

#replacement-strings {
  grid-column-start: 1;
  grid-column-end: 4;
}

.panel-content {
  padding: 16px;
  overflow: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  &:last-child {
    flex-shrink: unset;
  }
}

.replacement-strings {
  overflow: auto;
  li {
    button {
      flex-shrink: 0;
    }
  }
}

.fields {
  flex-grow: 1;
}

.sandbox-canvas-wrapper {
  max-width: 100%;
  width: 100%;
  height: 67vh;
  flex-grow: 1;
  box-sizing: border-box;
  padding-bottom: 16px;
}

.graph-slider {
  display: flex;
  margin: auto;
  width: 100%;
}

.graph-param-toolbar {
  padding-top: 0;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  h3 {
    margin: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

$img-size: 128px;
.previews-content {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
  .previews-headline {
    padding: 8px;
    line-height: 1;
    display: flex;
    h3 {
      margin: auto;
    }
  }
  .preview-wrapper {
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    img {
      width: $img-size;
      height: $img-size;
    }
  }
}